<task>
	<div class="col-md-12">
		<p>Создать задачу</p>
		<input type="text" name="" ng-model="name" placeholder="name">
		<input type="text" name="" ng-model="title" placeholder="title">
		<input type="text" name="" ng-model="dis" placeholder="discription">
		<input type="text" name="" ng-model="com" placeholder="commit">
		<button class="btn btn-primary btn-sm" ng-click="task.createTask(name, title, dis, com)">Создать</button>
	</div>
	<div class="col-md-12">
		<div class="list-group-item row" ng-repeat="tasks in task.tasks track by $index">
       		<div class="col-md-8">{{tasks.title}}</div>
       		<div class="col-md-4">{{tasks.status}}</div>
       		<div class="col-md-12">{{tasks.dis}}</div>
       		<div class="col-md-12">{{tasks.com}}</div>
       		<button class="btn btn-success" ng-click="task.complit(tasks)">Выполнить</button>
    	</div>
	</div>
</task>